{:paths ["src" "resources"]
 :deps {paren-soup {:mvn/version "2.16.0"}
        defexample {:mvn/version "1.7.0"}
        ring {:mvn/version "1.7.1"}
        org.eclipse.jetty/jetty-server {:mvn/version "9.4.12.v20180830"}
        org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.4.12.v20180830"}
        org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.4.12.v20180830"}
        http-kit {:mvn/version "2.3.0"}
        eval-soup {:mvn/version "1.5.0"}
        rum {:mvn/version "0.11.3"}
        html-soup {:mvn/version "1.6.1"}
        org.clojure/tools.cli {:mvn/version "0.3.5"}
        hawk {:mvn/version "0.2.11"}
        org.clojure/data.codec {:mvn/version "0.1.1"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}}
           :dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              orchestra {:mvn/version "2018.12.06-2"}
                              expound {:mvn/version "0.7.2"}}
                 :main-opts ["dev.clj"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}}}
