@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.otf') format('opentype');
}
html, body, .paren-soup, .CodeMirror {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Fira Code';
    font-size: 16px;
    height: 100%;
    margin: 0;
}
.nses {
    position: fixed;
    width: 300px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 5px;
    overflow: auto;
    white-space: nowrap;
}
.vars {
    position: fixed;
    top: 0px;
    left: 300px;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    overflow: auto;
}
.doc {
    white-space: pre;
}
.section {
	margin: 10px;
}